@import '~@angular/material/theming';
@include mat-core();

$ionos-server-control-primary: mat-palette($mat-indigo);
$ionos-server-control-accent: mat-palette($mat-pink, A200, A100, A400);
$ionos-server-control-warn: mat-palette($mat-red);
$ionos-server-control-main-theme-colors: (
  color: (
    primary: $ionos-server-control-primary,
    accent: $ionos-server-control-accent,
    warn: $ionos-server-control-warn,
  )
);
$light-theme: mat-light-theme($ionos-server-control-main-theme-colors);
$dark-theme: mat-dark-theme($ionos-server-control-main-theme-colors);

@include angular-material-theme($light-theme);

@media(prefers-color-scheme: dark) {
  @include angular-material-color($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
